.tarjeta {
    width: 100%;
}

@media (min-width: 768px) {
    .tarjeta {
        width: 30%;
        margin: 1.5%;
    }
    .tarjeta .card-img-top {
        height: 50vh;
        object-fit: contain;
    }
}

@media (min-width: 1200px) {
    .tarjeta {
        width: 23%;
        margin: 1%;
    }
}